
# Spark logs
tmp/*

# Exlcude hadoop package except config files
hadoop/*
!hadoop/readme
!hadoop/setup.sh
!hadoop/clean.sh
!hadoop/p2p_setup.sh
!hadoop/hosts

!hadoop/etc
hadoop/etc/*
!hadoop/etc/hadoop
hadoop/etc/hadoop/*
!hadoop/etc/hadoop/*.xml
!hadoop/etc/hadoop/slaves

# Scala
**/target/*

# Ignore large data
out/**/data/*
spark.log

