[submodule "spark"]
	path = spark_/spark
	url = https://github.com/anilkyelam/spark
[submodule "rdma/rdma-example"]
	path = rdma/learn/rdma-example
	url = https://github.com/animeshtrivedi/rdma-example
[submodule "rdma/learn/rdma_bench"]
	path = rdma/learn/rdma_bench
	url = https://github.com/efficient/rdma_bench/
[submodule "rdma/learn/RDMA-Tutorial"]
	path = rdma/learn/RDMA-Tutorial
	url = https://github.com/steevenlee/RDMA-Tutorial
[submodule "rdma/learn/RDMA-Tutorial-orig"]
	path = rdma/learn/RDMA-Tutorial-orig
	url = https://github.com/jcxue/RDMA-Tutorial/
[submodule "spark_/HiBench"]
	path = spark_/HiBench
	url = https://github.com/anilkyelam/HiBench
[submodule "spark_/jol"]
	path = spark_/jol
	url = https://github.com/anilkyelam/jol
